.container {
  height: 90px;
  background-color: #f6f1eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: solid 2px #e0e0e0;
}
.logo {
  font-size: 1.8rem;
  cursor: pointer;
}
.logo:hover {
  font-weight: 550;
}

.nav {
  display: flex;
}

.container nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.container nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
.container nav ul li a:hover {
  font-weight: 550;
}

.navLink {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
.navLink:hover {
  font-weight: 550;
  color: #0056b3;
}

.SHOW {
  display: flex;
}

.NOSHOW {
  display: none;
}
